.reviews__container{
    margin-top: 60px;
    width: 100%;
}

.reviews__container h1 {
    margin-left: 80px;
}

.scroller {
    width: 65px;
    height: 10px;
    margin: 20px 20% 0 auto;
    background-image: url('./imgs/scroll.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.reviews__grid {
    padding: 12px;
    display: flex;
    width: 63%;
    align-items: center;
    overflow-x: auto;
    margin: 50px auto; 
    border: solid 2px rgba(6, 65, 66, 0.7);
    border-radius: 20px;
}

@media screen and (max-width: 600px){
    .reviews__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews__container h1 {
        margin-left: 0;
    }
}